
$dark_background: black;
$text_color: white;
:root {
  --primary-color: rgba(202, 68, 219, 0.75);
  --overlay-color: rgba(8, 59, 68, 0.85);
  --menu-speed: 0.75s;
}
// setting init val
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

body {
  margin-left: 20rem;
  margin-right: 20rem;
  font-family: "Asap", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: white;
  background: $dark_background;
  padding: 3rem;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
html,
body {
  overflow-x: hidden;
}

ol li {
  margin-left: 2em;
}

li {
  text-decoration: none;
  list-style: none;
}

@mixin easeInOut{
  -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

@keyframes moveInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-5rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes moveInFromRight {
  0% {
    opacity: 0;
    transform: translateX(-5rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}

@keyframes moveInFromLeft {
  0% {
    opacity: 1;
    transform: translateX(2rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}

@keyframes spin720 {
  0% {
    opacity: 0;
    transform: rotate(0);
  }

  100% {
    opacity: 1;
    transform: rotate(720deg);
  }
}

@mixin media-sm{
  @media screen and (max-width: 666px) {
    @content;
  }
}

@mixin media-landscape {
  @media screen and (orientation: landscape) and (max-height: 720px) {
    @content;
  }
}

// 1024px or Smaller
@mixin media-md {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

// 1310px or smaller
@mixin media-md-burger {
  @media screen and (max-width: 1310px) {
    @content;
  }
}

// 1024px or Larger
@mixin media-lg {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

