
$dark_background: black;


// setting init val
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

body {
  margin-left: 20rem;
  margin-right: 20rem;
  font-family: "Asap", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: white;
  background: $dark_background;
  padding: 3rem;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
html,
body {
  overflow-x: hidden;
}

ol li {
  margin-left: 2em;
}

li {
  text-decoration: none;
  list-style: none;
}

@mixin easeInOut{
  -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

@keyframes moveInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-5rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes moveInFromRight {
  0% {
    opacity: 0;
    transform: translateX(-5rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}

@keyframes moveInFromLeft {
  0% {
    opacity: 1;
    transform: translateX(2rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}

@keyframes spin720 {
  0% {
    opacity: 0;
    transform: rotate(0);
  }

  100% {
    opacity: 1;
    transform: rotate(720deg);
  }
}

