

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  padding: 2rem 0;

  &-sb {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    .nav-item:first-child {
      padding: 0 2rem;
    }
  }

  input[type='text'],
  &-input-loaded {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 1.75rem;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 0 1rem;
    -webkit-transition: all 1s ease-in-out;
    transition: all 0.5s ease-in-out;
    // @include easeInOut;
  }
  &-input-loaded {
    animation: transitionSearchOut 0.5s ease-in-out forwards;
  }
  &-search-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  &-search {
    display: flex;
    flex-direction: row;
    input[type='text'] {
      width: 60rem;
      animation: transitionSearchIn 0.5s ease-in-out forwards;
      -webkit-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
    }
    .nav-title,
    .nav-icons {
      animation: transitionOut 0.2s ease-in-out forwards;
    }
  }
  &-main {
    margin: 0 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    a {
      color: white;
      font-size: 1.75rem;
    }
    .nav-item {
      padding: 0 4rem;
      -webkit-transition: width 0.4s ease-in-out;
      transition: width 0.4s ease-in-out;
    }
  }
}
.nav-title,
.nav-icons {
  animation: transitionIn 0.5s ease-in-out forwards;
}

@keyframes transitionSearchIn {
  0% {
    opacity: 1;
    transform: translateX(0rem);
  }

  100% {
    opacity: 1;
    transform: translateX(-40rem);
  }
}

@keyframes transitionSearchOut {
  0% {
    opacity: 1;
    transform: translateX(-40rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}

@keyframes transitionOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes transitionIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.burger-menu {
  position: fixed;
  top: 2rem;
  right: 12%;
  z-index: 1;
}

.burger-menu .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.burger-menu {
  visibility: hidden;
  display: none;
  .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    border-radius: 5rem;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    div {
      position: relative;
      flex: none;
      width: 100%;
      height: 2px;
      background: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.4s ease;
      &::before,
      &::after {
        content: '';
        position: absolute;
        z-index: 1;
        top: -10px;
        width: 100%;
        height: 2px;
        background: inherit;
      }
      &::after {
        top: 10px;
      }
    }
  }
  .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
  }
  .toggler:checked + .hamburger > div:before,
  .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
  }
  .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
  }
  .toggler:checked ~ .menu {
    visibility: visible;
  }
  .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
  }
  .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease 0.4s;
  }
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    > div {
      background: var(--overlay-color);
      border-radius: 50%;
      width: 200vw;
      height: 200vw;
      display: flex;
      flex: none;
      align-items: center;
      justify-content: center;
      transform: scale(0);
      transition: all 0.4s ease;
    }
  }
}

.burger-menu .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.burger-menu .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}

.burger-menu .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}
