*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  text-decoration: none;
}

body {
  margin-left: 20rem;
  margin-right: 20rem;
  font-family: "Asap", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: white;
  background: black;
  padding: 3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

ol li {
  margin-left: 2em;
}

li {
  text-decoration: none;
  list-style: none;
}

@-webkit-keyframes moveInFromTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-5rem);
            transform: translateY(-5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

@keyframes moveInFromTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-5rem);
            transform: translateY(-5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes moveInFromRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-5rem);
            transform: translateX(-5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

@keyframes moveInFromRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-5rem);
            transform: translateX(-5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

@-webkit-keyframes moveInFromLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

@keyframes moveInFromLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

@-webkit-keyframes spin720 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
}

@keyframes spin720 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
}

.nav-sb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav-sb .nav-item:first-child {
  padding: 0 2rem;
}

.nav input[type='text'], .nav-input-loaded {
  width: 130px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 1.75rem;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 0 1rem;
  -webkit-transition: all 1s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav-input-loaded {
  -webkit-animation: transitionSearchOut 0.5s ease-in-out forwards;
          animation: transitionSearchOut 0.5s ease-in-out forwards;
}

.nav .nav-title,
.nav .nav-icons {
  -webkit-animation: transitionIn 0.5s ease-in-out forwards;
          animation: transitionIn 0.5s ease-in-out forwards;
}

.nav-search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.nav-search input[type='text'] {
  width: 60rem;
  -webkit-animation: transitionSearchIn 0.5s ease-in-out forwards;
          animation: transitionSearchIn 0.5s ease-in-out forwards;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav-search .nav-title,
.nav-search .nav-icons {
  -webkit-animation: transitionOut 0.2s ease-in-out forwards;
          animation: transitionOut 0.2s ease-in-out forwards;
}

.nav-main {
  margin: 0 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-main a {
  color: white;
  font-size: 1.75rem;
}

.nav-main .nav-item {
  padding: 0 4rem;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

@-webkit-keyframes transitionSearchIn {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(-40rem);
            transform: translateX(-40rem);
  }
}

@keyframes transitionSearchIn {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(-40rem);
            transform: translateX(-40rem);
  }
}

@-webkit-keyframes transitionSearchOut {
  0% {
    opacity: 1;
    -webkit-transform: translateX(-40rem);
            transform: translateX(-40rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

@keyframes transitionSearchOut {
  0% {
    opacity: 1;
    -webkit-transform: translateX(-40rem);
            transform: translateX(-40rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

@-webkit-keyframes transitionOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes transitionOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes transitionIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes transitionIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.shopping-bag-modal i {
  color: white;
  font-size: 2.5rem;
}

.shopping-bag-modal-btn {
  border: none;
  background: none;
}

.shopping-bag-modal-btn:hover {
  cursor: pointer;
}

.shopping-bag-modal .modal-content .bag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shopping-bag-modal .modal-content .bag p {
  color: red;
}
