:root {
  --primary-color: rgba(202, 68, 219, 0.75);
  --overlay-color: rgba(8, 59, 68, 0.85);
  --menu-speed: 0.75s;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  text-decoration: none;
}

/**
 * 1. Centers the content. Yes, it's a bit opinionated.
 */
.wrapper {
  margin-right: auto;
  /* 1 */
  margin-left: auto;
  /* 1 */
  max-width: 960px;
  padding-right: 10px;
  padding-left: 10px;
}

body {
  font-family: 'Asap', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: white;
  background: black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

ol li {
  margin-left: 2em;
}

li {
  text-decoration: none;
  list-style: none;
}

@-webkit-keyframes moveInFromTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-5rem);
            transform: translateY(-5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

@keyframes moveInFromTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-5rem);
            transform: translateY(-5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes moveInFromRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-5rem);
            transform: translateX(-5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

@keyframes moveInFromRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-5rem);
            transform: translateX(-5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

@-webkit-keyframes moveInFromLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

@keyframes moveInFromLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

@-webkit-keyframes spin720 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
}

@keyframes spin720 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
}

button {
  -webkit-animation: none;
          animation: none;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-duration: 0;
          animation-duration: 0;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-name: none;
          animation-name: none;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
  background: 0;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-image: none;
  background-origin: padding-box;
  background-position: 0 0;
  background-position-x: 0;
  background-position-y: 0;
  background-repeat: repeat;
  background-size: auto auto;
  border: 0;
  border-style: none;
  border-width: medium;
  border-color: inherit;
  border-bottom: 0;
  border-bottom-color: inherit;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-style: none;
  border-bottom-width: medium;
  border-collapse: separate;
  -o-border-image: none;
     border-image: none;
  border-left: 0;
  border-left-color: inherit;
  border-left-style: none;
  border-left-width: medium;
  border-radius: 0;
  border-right: 0;
  border-right-color: inherit;
  border-right-style: none;
  border-right-width: medium;
  border-spacing: 0;
  border-top: 0;
  border-top-color: inherit;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-style: none;
  border-top-width: medium;
  bottom: auto;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  caption-side: top;
  clear: none;
  clip: auto;
  color: inherit;
  -webkit-columns: auto;
          columns: auto;
  -webkit-column-count: auto;
          column-count: auto;
  -webkit-column-fill: balance;
          column-fill: balance;
  -webkit-column-gap: normal;
          column-gap: normal;
  -webkit-column-rule: medium none currentColor;
          column-rule: medium none currentColor;
  -webkit-column-rule-color: currentColor;
          column-rule-color: currentColor;
  -webkit-column-rule-style: none;
          column-rule-style: none;
  -webkit-column-rule-width: none;
          column-rule-width: none;
  -webkit-column-span: 1;
          column-span: 1;
  -webkit-column-width: auto;
          column-width: auto;
  content: normal;
  counter-increment: none;
  counter-reset: none;
  cursor: auto;
  direction: ltr;
  display: inline;
  empty-cells: show;
  float: none;
  font: normal;
  font-family: inherit;
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: auto;
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
  left: auto;
  letter-spacing: normal;
  line-height: normal;
  list-style: none;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: disc;
  margin: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  max-height: none;
  max-width: none;
  min-height: 0;
  min-width: 0;
  opacity: 1;
  orphans: 0;
  outline: 0;
  outline-color: invert;
  outline-style: none;
  outline-width: medium;
  overflow: visible;
  overflow-x: visible;
  overflow-y: visible;
  padding: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  page-break-after: auto;
  page-break-before: auto;
  page-break-inside: auto;
  -webkit-perspective: none;
          perspective: none;
  -webkit-perspective-origin: 50% 50%;
          perspective-origin: 50% 50%;
  position: static;
  /* May need to alter quotes for different locales (e.g fr) */
  quotes: '\201C' '\201D' '\2018' '\2019';
  right: auto;
  -moz-tab-size: 8;
    -o-tab-size: 8;
       tab-size: 8;
  table-layout: auto;
  text-align: inherit;
  text-align-last: auto;
  text-decoration: none;
  -webkit-text-decoration-color: inherit;
          text-decoration-color: inherit;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  top: auto;
  -webkit-transform: none;
          transform: none;
  -webkit-transform-style: flat;
          transform-style: flat;
  -webkit-transition: none;
  transition: none;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
  -webkit-transition-property: none;
  transition-property: none;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  unicode-bidi: normal;
  vertical-align: baseline;
  visibility: visible;
  white-space: normal;
  widows: 0;
  width: auto;
  word-spacing: normal;
  z-index: auto;
  /* basic modern patch */
  all: initial;
  all: unset;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 2rem 0;
}

.nav-sb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav-sb .nav-item:first-child {
  padding: 0 2rem;
}

.nav input[type='text'], .nav-input-loaded {
  width: 130px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 1.75rem;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 0 1rem;
  -webkit-transition: all 1s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav-input-loaded {
  -webkit-animation: transitionSearchOut 0.5s ease-in-out forwards;
          animation: transitionSearchOut 0.5s ease-in-out forwards;
}

.nav-search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.nav-search input[type='text'] {
  width: 60rem;
  -webkit-animation: transitionSearchIn 0.5s ease-in-out forwards;
          animation: transitionSearchIn 0.5s ease-in-out forwards;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav-search .nav-title,
.nav-search .nav-icons {
  -webkit-animation: transitionOut 0.2s ease-in-out forwards;
          animation: transitionOut 0.2s ease-in-out forwards;
}

.nav-main {
  margin: 0 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-main a {
  color: white;
  font-size: 1.75rem;
}

.nav-main .nav-item {
  padding: 0 4rem;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.nav-title,
.nav-icons {
  -webkit-animation: transitionIn 0.5s ease-in-out forwards;
          animation: transitionIn 0.5s ease-in-out forwards;
}

@-webkit-keyframes transitionSearchIn {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(-40rem);
            transform: translateX(-40rem);
  }
}

@keyframes transitionSearchIn {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(-40rem);
            transform: translateX(-40rem);
  }
}

@-webkit-keyframes transitionSearchOut {
  0% {
    opacity: 1;
    -webkit-transform: translateX(-40rem);
            transform: translateX(-40rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

@keyframes transitionSearchOut {
  0% {
    opacity: 1;
    -webkit-transform: translateX(-40rem);
            transform: translateX(-40rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

@-webkit-keyframes transitionOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes transitionOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes transitionIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes transitionIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.burger-menu {
  position: fixed;
  top: 2rem;
  right: 12%;
  z-index: 1;
}

.burger-menu .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.burger-menu {
  visibility: hidden;
  display: none;
}

.burger-menu .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  border-radius: 5rem;
  background: var(--primary-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.burger-menu .hamburger div {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 100%;
  height: 2px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.burger-menu .hamburger div::before, .burger-menu .hamburger div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

.burger-menu .hamburger div::after {
  top: 10px;
}

.burger-menu .toggler:checked + .hamburger > div {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.burger-menu .toggler:checked + .hamburger > div:before,
.burger-menu .toggler:checked + .hamburger > div:after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.burger-menu .toggler:checked:hover + .hamburger > div {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.burger-menu .toggler:checked ~ .menu {
  visibility: visible;
}

.burger-menu .toggler:checked ~ .menu > div {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-duration: var(--menu-speed);
          transition-duration: var(--menu-speed);
}

.burger-menu .toggler:checked ~ .menu > div > div {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease 0.4s;
  transition: opacity 0.4s ease 0.4s;
}

.burger-menu .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.burger-menu .menu > div {
  background: var(--overlay-color);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.burger-menu .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

.burger-menu .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}

.burger-menu .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

.shopping-bag-modal i {
  color: white;
  font-size: 2.5rem;
}

.shopping-bag-modal-btn {
  border: none;
  background: none;
}

.shopping-bag-modal-btn:hover {
  cursor: pointer;
}

.shopping-bag-modal .modal-content .bag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shopping-bag-modal .modal-content .bag p {
  color: red;
}

@media screen and (max-width: 1024px) {
  .burger-menu {
    visibility: visible !important;
    display: block;
  }
  .nav-title, .nav-search-bar, .nav-icons {
    visibility: hidden;
    display: none;
  }
}

.footer {
  position: absolute;
  left: 0;
  width: 100%;
  margin-top: 5rem;
}

.footer-top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 0;
}

.footer-top-container .footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 15rem;
}

.footer-top-container .footer-social-content {
  height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
}

.footer-top-container .footer-social-content .tiktok {
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 3rem;
  margin-bottom: 0rem;
}

.footer-top-container .footer-social-content i {
  font-size: 3rem;
  padding-bottom: 1rem;
}

.footer-top-container .footer-social-content h1 {
  position: relative;
  font-weight: 2;
  font-size: 1.5rem;
}

.footer-top-container .footer-line {
  margin: 0 2rem;
  border-left: 2px solid white;
  height: 6rem;
}

.footer-nav {
  padding: 2rem;
  background-color: white;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.8rem;
}

.footer-nav h3 {
  font-weight: 2;
  font-size: 1.5rem !important;
}

.footer-nav a {
  text-decoration: none;
  color: black;
}

.footer-nav-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.newsletter-form .row {
  margin: 0.4rem 0;
}

.landing-hero {
  height: 75vh;
  min-height: 500px;
}

.landing-hero .hero {
  left: 0;
  height: 75vh;
  min-height: 500px;
  width: 100%;
  position: absolute;
}

.landing-hero .hero .hero-overlay {
  background: black;
  position: absolute;
  height: 75vh;
  min-height: 500px;
  width: 100%;
  z-index: 1;
  opacity: 0.5;
}

.landing-hero .hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.landing-hero .hero-content-items {
  z-index: 2;
  margin-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 40rem;
}

.landing-hero .hero-content h1 {
  text-align: center;
  font-size: 4rem;
  font-weight: 2;
}

.landing-hero .hero-content .hero-symbol {
  width: 15rem;
  position: relative;
}

.landing-hero .hero-background {
  height: 100%;
  width: 100%;
}

.btn-wrap {
  display: inline-block;
  background: transparent;
  border: none;
}

.btn-wrap:hover {
  cursor: pointer;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-width: 0.1rem;
  border-radius: 0.5rem;
  border-style: solid;
  border-color: black;
  color: black;
}

.btn-dark {
  border-color: white !important;
  color: white !important;
}

.btn-dark .line {
  border-left: 1px solid white !important;
}

.btn-purple {
  border-color: #A901FB !important;
}

.btn-blue {
  border-color: #3C62E3 !important;
}

.btn p, .btn i {
  padding: 0.2rem 1rem;
}

.btn .line {
  height: 1.8rem;
  border-left: 1px solid black;
}

.card-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 20rem;
  width: 30rem;
}

.card-small-title {
  font-size: 3rem;
  font-weight: 2;
}

.card-small-price {
  font-size: 1.5rem;
  font-weight: 2;
}

.card-small-img {
  width: 100%;
}

.landing-small-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 45% 45% 5%;
      grid-template-columns: 5% 45% 45% 5%;
  height: 100%;
  width: 100%;
}

.landing-small-cards-section {
  height: 40vh;
  min-height: 300px;
}

.landing-small-cards-container {
  min-height: 40vh;
  background-color: white;
  width: 100%;
  color: black;
  min-height: 300px;
  position: relative;
  float: left;
}
